<% if (theme.youyan.enable){ %>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="//v1.uyan.cc/js/iframe.js?UYUserId=<%= theme.youyan.UYUserId %>" async="true"></script>
<!-- UY END -->
<%}%>
