<% if (theme.weibo.enable){ %>
<div class="widget">
    <!--粘贴微博秀代码-->
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1312972820&verifier=813d76ea&dpc=1"></iframe>
</div>
<% } %>
